# Streamlit and other dependencies
streamlit

# OpenCV without GUI dependencies (headless)
opencv-python-headless  # Use headless version of OpenCV

# PyTorch and other dependencies
torch
numpy
requests
pygments
markdown-it-py
rich
